{% include "store/base.html" %}

{% load static %}

{% load crispy_forms_tags %}




{% block content %}
    <style>

        body{
            background-color: gray;
        }
 
    </style>


    <body>
        <br>

        <div class="container bg-white shadow-md p-5 form-layout">

            <h2> <i class="fa fa-address-book" aria-hidden="true"></i> Profile Management </h2>
            <hr>

        </div>

        <br>

        <div class="container bg-white shadow-md p-5 form-layout">
            <h3> Update your account </h3>

            <hr>
            <br>

            <form method='POST' autocomplete='off'>
                {% csrf_token %}
                
                {{ user_form.username|as_crispy_field }}
                <br>
                {{ user_form.email|as_crispy_field }}
                <br>

                <br>
                <button type='submit' class='btn btn-primary navbar-btn text-white'>&nbsp; Update your account </button>
            </form>

        </div>


    </body>
{% endblock content %}

